# Object and binary directories
Makefile
obj/
bin/
/pysrc/__pycache__/

# large data files
inputs/
outputs/

# Mac OS metadata
.DS_Store

# vscode files
.vscode/

# editor temp files
*~
*.swp

# venvs
pysrc/cudart_venv
docs/sphinx_venv

# sphinx files
docs/build/doctrees/
docs/build/html/
!docs/Makefile